@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito+Sans:wght@400;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    color:#fff ;
    background-color: var(--bg-clr);
}

/*============================== CREATE ROOT DIRECTORY======================== */
:root{

/*============================== ASSIGN ELEMENTS FONT SIZE ======================== */

    --logo-text : 18px;
    --extra-small-text : 13px;
    --hero-title-text : 53px;
    --small-text : 14px;
    --title-text : 40px;
    --service-item-text : 18px;

/*============================== ASSIGN ELEMETNS COLOR ======================== */

    --nav-link-active : #5454D4;
    --clr : #fff;
    --para-clr : rgba(255, 255, 255, 0.7);
    --bg-clr : #19191B;
}

/*============================== COMMON WORK ======================== */


.container{
    width:90%;
    margin:0 auto;
}

i{
    line-height: 0;
    display: inline-block;
}
.grid{
    display: grid;
}
.img-fluid{
    width: 100%;
    height: auto;
}
.btn{
    outline:none;
    border:none;
    cursor: pointer;
    text-transform: capitalize;
    font-size: var(--extra-small-text);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: #fff;
    line-height: 0;
}

.btn1{
    width:104px;
    height: 30px;
    border:1px solid #fff;
    background-color: transparent;
}

.icon{
    cursor: pointer;
    font-size: 20px;
    color:#fff;
}

.btn2{
    width:135px;
    height: 39px;
    background-color: var(--nav-link-active);
}

.logo{
    font-size: var(--logo-text);
    font-weight: 700;
    line-height: 140%;
}

.hero_title{
    font-size: var(--hero-title-text);
    font-weight: 700;
    line-height: 56px;
}

.para{
    font-size: var(--para-text);
    color:var(--para-clr);
    line-height: 26px;
}

.section_title{
    font-size: var(--title-text);
    font-weight: 700;
    line-height: 46px;
}

.service_title{
    font-size: var(--service-item-text);
    font-weight: 600;
    line-height: 25px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between{
    justify-content: space-between;
}

section{
    padding: 40px 0;
}
/*============================== END COMMON WORK ======================== */

/*============================== DESIGN FOR NAVBAR ======================== */

.navbar{
    position: relative;
    min-width: 100%;
    padding:34px 0;
}

.logo-part a{
   column-gap: 4px;
   color:#fff;
}

.navbar_items ul{
    column-gap: 26px;
}

.navbar_items ul li a{
    font-size: var(--small-text);
    font-weight: 600;
    color:#fff;
    text-transform: capitalize;
    transition: .3s;
}
.navbar_items ul li a:hover,
.navbar_items ul li a.active{
    color:var(--nav-link-active);
}

.button form .btn1{
    transition: .3s;
}

.button form .btn1:hover{
    border-color:var(--nav-link-active);
    background-color: var(--nav-link-active);
}


.menu_btn{
    position: fixed;
    top:38px;
    right:30px;
    display: none;
}

/*============================== DESIGN FOR NAVBAR ======================== */

.hero_grid-content{
    grid-template-columns: 1fr 1.2fr;
    align-items: center;
}
.hero_img-content{
    position: relative;
    text-align: center;
}
.hero_img-content .vector{
    position: absolute;
 
}
.hero_img-content .vector1{
    top:0;
    left:90px;
}
.hero_img-content .vector2{
    right:170px;
    top:0;
}
.hero_img-content .vector3{
    bottom:0;
    left:0;
}
.hero_img-content .vector4{
    bottom:0;
    right:120px;
}
.hero_btn i{
    font-size: 20px;
    margin-left: 4px;
    transform: rotate(-18deg);
}
.hero_img-content .hero-img{
    text-align: center;
    position: relative;
    display: inline-block;
}
.hero-img::after{
    position: absolute;
    content: '';
    top:115px;
    left:65px;
    height: 50%;
    width:55%;
    border:2px solid #fff;
    border-radius: 20px;
    transform: rotate(25deg);
    z-index: -1;
}

/*============================== DESIGN FOR NAVBAR ======================== */

.about_grid{
    grid-template-columns: 1fr 1fr;
}
.video-content{
    margin-top:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vid_bg-img{
    position: relative;
}
.vid_bg-img .play_btn{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
/*============================== DESIGN FOR NAVBAR ======================== */

.service_title-grid{
    grid-template-columns: .4fr;
    justify-content: center;
    text-align: center;
}
.service-content{
    grid-template-columns: repeat(3,1fr);
    column-gap: 90px;
    row-gap: 40px;
    text-align: center;
    margin-top: 40px;
}
.service-card{
    padding:20px;
}
.service-card .service_title{
    margin:10px 0;
}
/*============================== DESIGN FOR NAVBAR ======================== */
.slider-content{
    margin-top: 30px;
}
/* .portfolio-content{
    padding:5px 120px;
    height: 270px;
    display: flex;
    justify-content: space-between;
}
.single-item.start{
    align-self: flex-start;
}
.single-item.center{
    align-self: center;
}
.single-item.baseline{
    align-self: flex-end;
} */
.swiper-slide{
    text-align: center;
    /* padding:10px 30px;
    display: flex;
    justify-content: center; */
}