@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito+Sans:wght@400;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    color:#fff ;
    background-color: var(--bg-clr);
}

/*============================== CREATE ROOT DIRECTORY======================== */
:root{

/*============================== ASSIGN ELEMENTS FONT SIZE ======================== */

    --logo-text : 18px;
    --extra-small-text : 13px;
    --hero-title-text : 68px;
    --small-hero : 52px;
    --small-text : 14px;
    --title-text : 40px;
    --service-item-text : 18px;

/*============================== ASSIGN ELEMETNS COLOR ======================== */

    --nav-link-active : #5454D4;
    --clr : #fff;
    --para-clr : rgba(255, 255, 255, 0.7);
    --bg-clr : #19191B;
    --cnt-bg: #1E1E20;
    --slider-btn: #121213;
}

/*============================== COMMON WORK ======================== */


.container{
    max-width:95%;
    margin:0 auto;
}

i{
    line-height: 0;
    display: inline-block;
}

.grid{
    display: grid;
}
.img-fluid{
    width: 100%;
    height: auto;
}
.btn{
    outline:none;
    border:none;
    cursor: pointer;
    text-transform: capitalize;
    font-size: var(--extra-small-text);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: #fff;
    line-height: 0;
}

.btn1{
    width:104px;
    height: 30px;
    border:1px solid #fff;
    background-color: transparent;
}

.icon{
    cursor: pointer;
    font-size: 20px;
    color:#fff;
}

.btn2{
    width:135px;
    height: 39px;
    background-color: var(--nav-link-active);
}

.logo{
    font-size: var(--logo-text);
    font-weight: 700;
    line-height: 140%;
    color:#fff;
}

.hero_title{
    font-size: var(--hero-title-text);
    font-weight: 700;
    line-height: 68px;
}

.para{
    font-size: var(--para-text);
    color:var(--para-clr);
    line-height: 26px;
    word-wrap: break-word;
}

.section_title{
    font-size: var(--title-text);
    font-weight: 700;
    line-height: 46px;
}

.service_title{
    font-size: var(--service-item-text);
    font-weight: 600;
    line-height: 25px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between{
    justify-content: space-between;
}

section{
    padding: 40px 0;
    overflow: hidden;
}

@media screen and (max-width:991px) {
    .hero_title{
        font-size: var(--small-hero);
        line-height: 54px;
    }
    .section_title{
        font-size: 32px;
    }
}
@media screen and (max-width:575px) {
    .hero_title{
        font-size: 40px;
        line-height: 54px;
    }
    .section_title{
        font-size: 28px;
    }
    .play_btn{
        text-align: center;
        line-height: 0;
    }
    .play_btn img{
        width: 55%;
    }
}
/*============================== END COMMON WORK ======================== */

/*============================== DESIGN FOR NAVBAR STYLE ======================== */

.navbar{
    position: fixed;
    top:0;
    left:0;
    min-width: 100%;
    padding:34px 0;
    z-index: 9999;
    transition: .4s;
}

.navbar.show_navbar{
    padding:20px 0;
    background-color: #1e1e27;
    box-shadow: 0px 7px 10px rgba(22, 24, 34, 0.7);
    
}

.logo-part a{
   column-gap: 4px;
}

.navbar_items ul{
    column-gap: 26px;
}

.navbar_items ul li a{
    font-size: var(--small-text);
    font-weight: 600;
    color:#fff;
    text-transform: capitalize;
    transition: .3s;
}

.navbar_items ul li a:hover,
.navbar_items ul li a.active{
    color:var(--nav-link-active);
}

.button form .btn1{
    transition: .3s;
}

.button form .btn1:hover{
    border-color:var(--nav-link-active);
    background-color: var(--nav-link-active);
}

.menu_btn{
    display: none;
}

.close_menu {
    display: none;
}
/*============================== STYLING FOR MOBILE DEVICE ======================== */

.navbar_items.mobile-menu{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(22, 24, 34, 0.7);
    transition: .6s;
    display: block;
}
.mobile-menu ul{
    flex-direction: column;
    row-gap: 20px;
    background-color: rgb(36, 35, 53);
    margin:60px 90px;
    padding:50px 20px 30px 20px;
    border-radius: 5px;
    position: relative;
    transform: translateY(-30px);
}

.mobile-menu ul .close_menu{
    display: inline-block;
    position: absolute;
    top:20px;
    right:20px;
    font-size: 1.3rem;
    color: rgb(197, 46, 71);
    cursor: pointer;
}

/*============================== HERO SECTION DESIGN STYLE ======================== */

.hero{
    padding-top:120px;
} 

.hero_grid-content{
    grid-template-columns: 1fr 1.2fr;
    align-items: center;
}
.hero_img-content{
    text-align: center;
}
.hero_img-content .hero-img{
    position: relative;
}

.hero-img .vector{
    position: absolute;
}

.hero-img .vector1{
    top:0;
    left:10px;
}

.hero-img .vector2{
    right:30px;
    top:0;
}

.hero-img .vector3{
    bottom:0;
    left:-25px;
}

.hero-img .vector4{
    bottom:0;
    right:15px;
}

.hero_btn i{
    font-size: 20px;
    margin-left: 4px;
    transform: rotate(-18deg);
}

.hero_img-content .hero-img{
    text-align: center;
    position: relative;
    display: inline-block;
}

.hero-img::after{
    position: absolute;
    content: '';
    top:115px;
    left:65px;
    height: 50%;
    width:55%;
    border:2px solid #fff;
    border-radius: 20px;
    transform: rotate(25deg);
    z-index: -1;
}

/*============================== ABOUT SECTION DESIGN STYLE ======================== */

.about_grid{
    grid-template-columns: .4fr .4fr;
    column-gap: 50px;
    align-items: center;
    justify-content: space-between;
}
.about_grid p{
}

.video-content{
    margin-top:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vid_bg-img{
    position: relative;
}

.vid_bg-img .play_btn{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*============================== SERVICE SECTION DESIGN STYLE ======================== */

.service_title-grid{
    grid-template-columns: .4fr;
    justify-content: center;
    text-align: center;
}

.service_icons{
    position: relative;
    z-index: 1;
}

.service_icons .service_vector{
    position: absolute;
    z-index: 99;
}

.service_icons .service_vector1{
    left:200px;
    top:-10px;
}

.service_icons .service_vector2{
    right:200px;
    top:40px;
}

.service_icons .service_vector3{
    left:0px;
    bottom:-10px;
}

.service_icons .service_vector2 img,
.service_icons .service_vector3 img
{
    transform: rotate(30deg);
}

.service-content{
    grid-template-columns: repeat(3,1fr);
    column-gap: 90px;
    row-gap: 40px;
    text-align: center;
    margin-top: 40px;
}

.service-card{
    padding:20px;
}

.service-card .service_title{
    margin:10px 0;
}

/*============================== PORFOLIO OR PROJECT SECTION DESIGN STYLE ======================== */

.portfolio_icons{
    position: relative;
    overflow: hidden;
}

.portfolio_icons .portfolio_vector{
    position: absolute;
}

.portfolio_icons .port_vector1{
    top:10px;
    right:120px;
}

.portfolio_icons .port_vector2{
    bottom:40px;
    left:20px;
}

.slider_content{
    margin:50px 0;
}

.owl-theme .owl-nav{
    display: none;
}

.owl-theme .owl-dots{
    margin-top: 40px;
}

.owl-dots .owl-dot span{
    width: 7px !important;
    height: 7px !important;
    background-color: var(--slider-btn) !important;
    transition: .3s !important;
    margin:5px 3px !important;
}

.owl-dots .owl-dot.active span{
    width:18px !important;
    background-color: var(--nav-link-active) !important;
}

/*============================== CONTACT SECTION DESIGN STYLE ======================== */

#contact{
    height: 335px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cnt-bg);
    position: relative;
}

.contact_grid{
    grid-template-columns:repeat(2,1fr);
    column-gap: 40px;
    align-items: center;
}

#contact .ctn_vector{
    position: absolute;
}

#contact .ctn_vector1{
    top:30px;
    right:30px;
} 

#contact .ctn_vector2{
    left:100px;
    bottom:30px;
}

/*============================== FOOTER SECTION DESIGN STYLE ======================== */

.footer{
    padding:40px 0;
}

.footer_contents{
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
}

.footer-menu ul li a,
.copyright p{
    font-size: var(--small-text);
    transition: .3s;
    white-space: nowrap;
}

.footer-menu ul li a:hover{
    color:var(--nav-link-active);
}

/*============================== RESPONSE DESIGN ======================== */

@media screen and (max-width : 1200px) {

    /* .hero_img-content .vector2{
        right:60px;
        top:0;
    }

    .hero_img-content .vector4{
        bottom:0;
        right:30px;
    } */

}

@media screen and (max-width : 991px) {
    .service_title-grid{
        grid-template-columns: .5fr;
    }
    .service_icons .service_vector1{
        left:100px;
        top:-40px;
    }
    
    .service_icons .service_vector2{
        right:100px;
        top:80px;
    }
    
}

@media screen and (max-width : 767px) {
    .hero_grid-content{
        grid-template-columns: repeat(1,1fr);
        row-gap: 40px;
    }
    .menu_btn{
        display: inline-block;
        margin-left: 20px;
    }
    .navbar_items{
        display: none;
    }

    .about_grid{
        grid-template-columns: repeat(1,.6fr);
        row-gap: 20px;
    }
    
    .service-content{
        grid-template-columns: repeat(2,1fr);
    }

    .service_icons .service_vector1{
        left:40px;
    }
    
    .service_icons .service_vector2{
        right:60px;
    }
    .footer_contents{
        grid-template-columns:repeat(2,1fr);
        row-gap: 20px;
    }
    
    .footer_contents .copyright{
        justify-self: center;
        grid-column: span 2;
    }
}

@media screen and (max-width : 575px) {
    .hero-img img{
        width:80%;
    }
    .hero-img::after{
        top:90px;
        left:90px;
        height: 49%;
        width:45%;
    }
    .hero-img .vector3{
        bottom:0;
        left:-20px;
    }
    .service_title-grid{
        grid-template-columns: .6fr;
        justify-content: start;
    }
    #service .section_title{
        text-align: left !important;
        padding:25px 0;
    }
    .service_icons .service_vector1{
        top:-50px;
        left:0;
    }
    .service_icons .service_vector2{
        top:100px;
    }
    .service-content{
        grid-template-columns: repeat(1,1fr);
    }
    .portfolio_icons .port_vector1 {
        top: 38px;
        right: 30px;
    }
   .owl-theme .item .slider-img{
       text-align: center;
   }
    .slider-img img{
        width:60% !important;
        display: inline-block !important;
    }
    .contact_grid {
        grid-template-columns: repeat(1,1fr);
        justify-content: start;
        row-gap: 30px;
    }
    #contact .ctn_vector2 {
        left: 65px;
        bottom: 10px;
    }
    .footer_contents{
        grid-template-columns:repeat(1,1fr);
        row-gap: 20px;
    }
    .footer-logo{
        text-align: center !important;
    }
    .footer_contents .copyright{
        grid-column: span 1;
    }

    
}
@media screen and (max-width : 380px) {
    
    .footer-menu ul{
        display: inline-block;
    }
    .footer-menu{
        justify-self: center;
        text-align: center;
    }
    .mobile-menu ul{
        margin:60px 30px;
    }
    .about_grid{
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
    }
    .service_title-grid{
        grid-template-columns: 1fr;
    }
}

